Repository bruxx-6243/brx-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml,html}": "prettier --write",
  "*.ts": ["eslint --fix", "prettier --write"]
}

chore: small change
  .github/workflows/static-deploy.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

chore: small change
  .github/workflows/docker-image.yml
  vite.config.ts
Due: prettier --write, eslint --fix

chore: make some changes
  src/router.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

refactor: change the pipeline and inclure the test
  .env.example
  .github/workflows/static-deploy.yaml
  src/env.ts
  src/router.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

chore: remove the upload coverage
  .github/workflows/static-deploy.yaml
Due: prettier --write

chore: small change
  .github/workflows/static-deploy.yaml
Due: prettier --write

chore: small change
  .github/workflows/static-deploy.yaml
  src/env.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore: small change
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix

chore: small change
  src/env.ts
Due: prettier --write, eslint --fix

chore: add coverage percentag
  .github/workflows/static-deploy.yaml
Due: prettier --write

chore!: remove coverage
  .github/workflows/static-deploy.yaml
Due: prettier --write

chore: add mutateAsync function
  .github/workflows/static-deploy.yaml
  src/lib/api/method/index.ts
Due: prettier --write, eslint --fix

chore: small change
  vite.config.ts
Due: prettier --write, eslint --fix

chore: redirect to the login pag if trie
  src/routeTree.gen.ts
  src/routes/auth/index.tsx
Due: prettier --write, eslint --fix

chore: make some changes
  index.html
  src/components/layouts/auth-layout.tsx
  src/components/pages/home/page.tsx
  src/components/pages/posts/page.tsx
  src/lib/api/controllers/post-controller.tsx
Due: prettier --write

feat: start README
  README.md
Due: prettier --write

feat: fix the error messages
  src/components/pages/posts/page.tsx
  src/lib/api/handlers/base-controller.ts
Due: prettier --write, eslint --fix

refactor: fix some error
  src/components/pages/posts/page.tsx
Due: prettier --write

chore: small change
  src/components/pages/posts/page.tsx
Due: prettier --write

chore: small change
  src/lib/api/controllers/post-controller.tsx
Due: prettier --write

chore: refactor the posts-controller
  src/lib/api/controllers/post-controller.tsx
Due: prettier --write

feat: complete the README
  README.md
  package.json
Due: prettier --write

feat: add the MIT Licence
  LICENSE.md
  README.md
Due: prettier --write

feat: add CLI image to the README
  README.md
  cli.png
Due: prettier --write

refactor: edit the README file
  README.md
  package.json
Due: prettier --write

chore: small change
  README.md
Due: prettier --write

chore: stop tracking pnpm-lock.yaml
  .gitignore
  pnpm-lock.yaml
Due: prettier --write

feat: add the mutation function
  src/components/pages/home/page.tsx
  src/components/pages/posts/page.tsx
  src/env.ts
  src/lib/api/method/index.ts
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix

feat: update the README file
  README.md
  cli.png
Due: prettier --write

chore: editing the README file
  README.md
Due: prettier --write

chore: edit the workflow actions
  .github/workflows/static-deploy.yaml
Due: prettier --write

feat: add jsDoc for eslint
  eslint.config.js
Due: prettier --write

refactor: make some changes
  src/types/index.ts
Due: prettier --write, eslint --fix

feat: add installation step in the README file
  README.md
Due: prettier --write

feat: add white text-color as default
  src/index.css
Due: prettier --write

feat: add a forground text color
  src/index.css
Due: prettier --write

chore: change the deployment command inside the Dockerfile
  Dockerfile
Due: none

feat: refactor the code
  src/components/pages/home/page.tsx
  src/lib/api/handlers/api-error.ts
  src/lib/api/handlers/base-controller.ts
  src/lib/api/method/index.ts
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix
