Repository bruxx-6243/brx-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add zustand for state management
  .env
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
  src/__tests__/api.test.ts
  src/__tests__/sum.test.ts
  src/components/design/button.tsx
  src/components/pages/home/page.tsx
  src/env/client.ts
  src/store/counter-store.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

feat: small chnages
  src/components/layouts/app-layout.tsx
  src/components/layouts/auth-layout.tsx
  src/components/pages/auth/login/page.tsx
  src/components/pages/auth/signup/page.tsx
Due: prettier --write

feat: add docker
  .env.example
  .gitignore
  Dockerfile
  docker-compose.yml
  index.html
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update the package.json
  .husky/pre-push
  Dockerfile
  commitlint.config.cjs
  docker-compose.yml
  package.json
Due: prettier --write

chore!: remove playwright
  .github/workflows/playwright.yml
  Dockerfile
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/__tests__/e2e/index.spec.ts
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: add .env to .gitignore
  .gitignore
Due: none

chore: remove .env from repository
  .env
Due: none

chore!: remove some files
  tsconfig.app.json
Due: prettier --write

chore: small change
  package.json
  src/__tests__/unit/api.test.ts
Due: prettier --write, eslint --fix

feat: add api folder
  .env.example
  .gitignore
  Dockerfile
  package.json
  src/lib/api/controllers/auth-controller.tsx
  src/lib/api/handlers/api-error.ts
  src/lib/api/handlers/base-controller.ts
  src/lib/api/services/index.ts
  src/lib/utils.ts
Due: prettier --write, eslint --fix

chore: display the token in the index page
  src/components/pages/home/page.tsx
Due: prettier --write

chore: add t3-env
  src/components/layouts/app-layout.tsx
  src/env.ts
  src/env/client.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update the service file
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix

fix: fix the issue fix the Dockerfile
  Dockerfile
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

fix: fix the docker componse by removing the NODE_ENV
  docker-compose.yml
Due: prettier --write

feat: change the template design
  src/components/design/button.tsx
  src/components/layouts/app-layout.tsx
  src/components/pages/home/page.tsx
  src/index.css
Due: prettier --write

feat: add github actions
  .github/workflows/static-deploy.yaml
Due: prettier --write

chore: update the github actions
  .github/workflows/static-deploy.yaml
Due: prettier --write

chore: small chnages in the package json
  .env.example
  .github/workflows/static-deploy.yaml
  package.json
Due: prettier --write

chore: Remove pnpm-lock.yaml from repository
  pnpm-lock.yaml
Due: prettier --write

refactor: change the template looking
  src/components/design/button.tsx
  src/components/design/morphing-text.tsx
  src/components/pages/home/page.tsx
  src/index.css
Due: prettier --write

feat: add personlize error message
  src/lib/api/handlers/api-error.ts
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix

feat: add api services
  pnpm-lock.yaml
  src/components/pages/home/page.tsx
  src/components/pages/posts/page.tsx
  src/lib/api/controllers/post-controller.tsx
  src/lib/api/method/index.ts
  src/routeTree.gen.ts
  src/routes/_authenticated/posts/index.tsx
  src/types/index.ts
Due: prettier --write, eslint --fix

chore: update the .env.example file
  .env.example
Due: none

feat: add react-toast
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: prettier --write

feat: add js docs
  src/lib/api/handlers/api-error.ts
  src/lib/api/handlers/base-controller.ts
  src/lib/api/method/index.ts
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix

test: fix the api test
  src/__tests__/unit/api.test.ts
Due: prettier --write, eslint --fix

feat: add jsdocs for some pages
  src/app.tsx
  src/env.ts
  src/main.tsx
  src/providers.tsx
  src/router.tsx
  src/routes/__root.tsx
  src/routes/_authenticated.tsx
Due: prettier --write, eslint --fix

feat: start README
  README.md
Due: prettier --write

feat: start README
  commitlint.config.cjs
Due: none

chore: update the commitlint file
  commitlint.config.cjs
Due: none

chore: add comment in the docker-compose file
  docker-compose.yml
Due: prettier --write

feat: add jsDocs for vitconfig
  vite.config.ts
Due: prettier --write, eslint --fix

test: add components testing
  src/__tests__/components/app-layout.test.tsx
  src/__tests__/components/auth-pages.test.tsx
  src/components/pages/home/page.tsx
Due: prettier --write

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: prettier --write

feat: add github workflow
  .github/workflows/docker-image.yml
  eslint.config.js
  vite.config.ts
Due: prettier --write, eslint --fix

feat: update the docker image
  .github/workflows/docker-image.yml
Due: prettier --write

chore: small change
  vite.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml,html}) or (any of: *.ts)
  eslint --fix: any of: *.ts
