Repository bruxx-6243/brx-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml,html}": "prettier --write",
  "*.ts": ["eslint --fix", "prettier --write"]
}

feat: create two controllers
  src/lib/api/controllers/auth-controller.tsx
  src/lib/api/controllers/main/base-controller.ts
  src/lib/api/controllers/main/controller-with-auth.ts
  src/lib/api/controllers/main/controller-without-auth.ts
  src/lib/api/controllers/post-controller.tsx
  src/lib/api/services/index.ts
Due: prettier --write, eslint --fix

fix: fix the api test error
  src/__tests__/unit/api.test.ts
  src/lib/api/controllers/auth-controller.ts
  src/lib/api/controllers/auth-controller.tsx
  src/lib/api/controllers/main/base-controller.ts
  src/lib/api/controllers/main/controller-with-auth.ts
  src/lib/api/controllers/post-controller.ts
Due: prettier --write, eslint --fix

test: fix tests
  .env.test
  package.json
  src/__tests__/unit/api.test.ts
  src/__tests__/unit/controller-with-auth.test.ts
  src/__tests__/unit/controller-without-auth.test.ts
  src/lib/api/controllers/main/base-controller.ts
  src/lib/api/controllers/main/controller-with-auth.ts
  src/lib/api/controllers/main/controller-without-auth.ts
Due: prettier --write, eslint --fix

refactor: the structure
  src/__tests__/components/app-layout.test.tsx
  src/__tests__/components/auth-pages.test.tsx
  src/components/card.tsx
  src/layouts/app-layout.tsx
  src/layouts/auth-layout.tsx
  src/lib/utils.ts
  src/pages/auth/login/page.tsx
  src/pages/auth/signup/page.tsx
  src/pages/home/page.tsx
  src/pages/posts/page.tsx
  src/routes/_authenticated/index.tsx
  src/routes/_authenticated/posts/index.tsx
  src/routes/auth/login/index.tsx
  src/routes/auth/signup/index.tsx
Due: prettier --write, eslint --fix

docs: add GETTING_STARTED_GUID
  GETTING_STARTED_GUID.md
  README.md
Due: prettier --write

docs: add GETTING_STARTED_GUID
  README.md
Due: prettier --write

feat: optimize the SEO
  src/hooks/useSEO.tsx
  src/pages/home/page.tsx
  src/routes/_authenticated.tsx
  src/routes/_authenticated/index.tsx
  src/routes/_authenticated/posts/index.tsx
  src/vite-env.d.ts
Due: prettier --write, eslint --fix

feat: add SEO
  src/hooks/useSEO.tsx
Due: prettier --write

feat: add default loading
  src/router.tsx
Due: prettier --write

chore: make some changes
  src/lib/utils.ts
  src/routes/_authenticated.tsx
Due: prettier --write, eslint --fix

refactor: protect some routes
  src/lib/utils.ts
  src/routes/auth/login/index.tsx
  src/routes/auth/signup/index.tsx
Due: prettier --write, eslint --fix

chore: make some changes
  src/routes/_authenticated.tsx
Due: prettier --write

chore: add some changes
  src/lib/utils.ts
  src/routes/auth/login/index.tsx
  src/routes/auth/signup/index.tsx
Due: prettier --write, eslint --fix

refactor: make some refactor
  src/lib/api/controllers/post-controller.ts
  src/lib/api/method/index.ts
  src/pages/posts/page.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

feat: initial commit
  src/index.css
  src/layouts/app-layout.tsx
  src/layouts/auth-layout.tsx
  src/pages/home/page.tsx
  src/routes/_authenticated/index.tsx
Due: prettier --write

feat: add convex to my bruxx application
  convex/README.md
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/schema.ts
  convex/tasks.ts
  convex/tsconfig.json
  package.json
  src/data/sample-data.jsonl
  src/env.ts
  src/lib/api/controllers/post-controller.ts
  src/pages/home/page.tsx
  src/pages/posts/page.tsx
  src/providers.tsx
  src/routeTree.gen.ts
  src/routes/_authenticated/posts/index.tsx
  src/types/index.ts
Due: prettier --write, eslint --fix

feat: create a todo app with brx template
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  src/pages/home/page.tsx
Due: prettier --write, eslint --fix

ci(commitlint): add GitHub issue prefix support in parser config
  commitlint.config.cjs
Due: none
